* {
  font-family: "Courier New", Courier, monospace;
  font-weight: 900;
}
#container {
  margin: auto;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  background: linear-gradient(#717370 5%, #525453 5% 95%, #4b4c4e 95%);
  border-radius: 5px;
}

#display_container {
  background: linear-gradient(#f4f0ef, #edecea);
  border-radius: 5px;
  width: 400px;
  box-sizing: border-box;
  height: 65px;
  margin: 10px;
  padding: 10px;
}

#display {
  background: #88906b;
  border: 1px solid #8a8c89;
  border-radius: 5px;
  margin: 10px;
  font-size: 20px;
  text-align: right;
  vertical-align: middle;
}

#buttons {
  width: 450px;
  height: 350px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
  justify-content: space-evenly;
  align-content: space-around;
  border: 2px solid #f1f1f3;
  margin: 20px;
  box-sizing: border-box;
  background: #353535;
}

.button {
  width: 100px;
  height: 50px;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  color: #fbfbfd;
  background: linear-gradient(#f4f5f8 5%, #504f53 5% 70%, #575759 70%);
}
.button_special {
  background: linear-gradient(#90edff 5%, #019fdc 5% 70%, #0099d7 70%);
}
